package ${package.Mapper};

import ${package.Entity}.${entity};
import ${superMapperClassPackage};
import org.springframework.stereotype.Repository;

@Repository
public interface ${table.mapperName} extends ${superMapperClass}<${entity}> {

}
